* {
	background-image: none;
	box-shadow: none;
	font-family: "OMORI_GAME";
}

window {
	background-color: rgba(0, 0, 0, 0.8);
}

body {
	border: 5px #ffffff solid;
}

button {
	text-decoration-color: #FFFFFF;
 	color: #FFFFFF;
	background-size: 0%;
	border: 0px;
	border-radius: 0px;
	text-shadow: none;
	background-position: center;
	background-color: #000000;
	background-repeat: no-repeat;
	font-size:50px;
	margin: 190px 0;
}

button:active, button:hover {
	outline-style: none;
}

#shutdown {
	border-left: 5px #ffffff solid;
	border-top: 5px #ffffff solid;
	border-bottom: 5px #ffffff solid;
	color: #ff0000
}

#reboot {
	border-top: 5px #ffffff solid;
	border-bottom: 5px #ffffff solid;
}

#logout {
	border-right: 5px #ffffff solid;
	border-top: 5px #ffffff solid;
	border-bottom: 5px #ffffff solid;
}


